* {
    padding:0;
    margin:0;
    list-style:none;
    box-sizing: border-box;
    border:0;
    font-family: 'Montserrat', sans-serif;
    }

header{
    display: flex;
    justify-content: space-between;
    height: 13vh;
}

h2{
    display: flex inline;
    justify-content: flex-start;
    align-items: center;
    width: 15vw;
    font-size: 2em;

}

h2 a{
     color: black;
     text-decoration: none;

}

.menu-header nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 32vw;
    font-size: 20px;
    font-weight: bold 45px;
}

li{
    color: #848484; 
    width: 5vw;
}

li a{
    color: #848484;
    text-decoration: none;
}

.model-li{
width: 9.3vw;
}

.model-li a{
    display: flex;
    color: black;
    font-weight: 900;
    font-size: 15px;
    justify-content: center;

}

.section-1{
    height: 90vh;
    background-image: url('./assets/laranja\ azul\ recorte.png');
    background-size: cover;
}

h1{
    display: flex inline;
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
    width: 74vw;
    height: 48vh;
    font-size: 50px;
    padding-top: 35vh;
}

.main-p{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20vw;
    height: 17vh;
}

.main-p a{
    text-decoration: none;
    color: white;
    font size: 22px;

}


